.login-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 40% 60%;
}

.login-image {
	border-radius: 0;
}

.login-content {
	padding: 3rem 6rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.login-logo {
	margin-bottom: auto;
}

.login-text {
	margin-bottom: 2rem;
}

.login-form {
	margin-bottom: auto;
	width: 50%;
	min-width: 15rem;
}

.login-form-control {
	margin-bottom: 1rem !important;
}

.login-button {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

@media (max-width: 1025px) {
	.login-content {
		padding: 3rem 2rem;
	}
}

@media (max-width: 768px) {
	.login-container {
		width: 100vw;
		height: 100vh;
		display: flex;
	}

	.login-content {
		padding: 3rem 2rem;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.login-form {
		margin-bottom: auto;
		width: 100%;
	}

	.login-image {
		display: none;
	}
}
